/*======================================MIXIN=================================================*/

@mixin logo($number, $x, $width, $height){
    
    &:nth-of-type(#{$number}){
        background: url('/dash/img/spritesheet.png') $x 0;
        height: $height;
        flex: 0 0 $width;
        
        @if $number == 6{
            background: url('/dash/img/spritesheet.png') $x -20px;
        }
        
    }
}

/*======================================MIXIN=================================================*/

.first-block{
    
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'mailing cards'
            'logos cards';
        
        &--footer{
            display: block;
            margin: 15% 0 0;
        }
    }
}

.mailing{
    grid-area: mailing;
    
    font-family: 'Muli';
    
    &__title{
        
        h1{
            font-size: calc(30px + 45 * (100vw / 1920));
            font-weight: bold;
            line-height: calc(40px + 57 * (100vw/ 1920));
        }
        
        &--footer{
            text-align: center;
            h2{
                font-size: calc(20px + 30 * (100vw / 1920));
                font-weight: bold;
                line-height: calc(40px + 57 * (100vw/ 1920));
            }
        }
    }
    
    &__text{
        font-size: 20px;
        line-height: 35px;
        
        max-width: 580px;
        
        margin: 0 0 10%;
        
        &--footer{
            text-align: center;
            margin: 0 auto 4.5% !important;
            
            font-size: calc(20px + 7 * (100vw / 1920));
        }
        
    }
}

.form{
    
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;
    
    max-width: 666px;
    
    margin: 0 0 24%;
    
    &--footer{
        margin: 0 auto;
    }
        
    &__email{
        font-size: 20px;
    
        max-width: 396px;
        min-width: 296px;
        
        line-height: 75px;
        
        border: 1px solid #EBEBEB;
        border-radius: 50px;
        
        padding: 0 0 0 25px;
        
        margin: 0 20px 0 0;
        
        &::-webkit-input-placeholder{
            opacity: .36;
        }
        
        transition: all .2s linear;
        
        &:hover, &:focus{
            box-shadow: 0 30px 50px rgba(235, 235, 235, .8); 
        }
    }
        
    &__submit{
        align-self: center;
        
        font-size: 23px;
        line-height: 77px;
        width: 230px;
        
        color: #fff;
        background-color: #FD5353; 
        border-radius: 60px;

        transition: all .2s linear;
        
        cursor: pointer;
        
        &:hover{
            box-shadow: 0 30px 50px rgba(255, 83, 83, .36); 
        }
        
        
    }
}

.logos{
    grid-area: logos;
    
    position: relative;
    z-index: 5;
    
    &__container{
        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-around;
        
    }
}

.logo{
    filter: grayscale(100%);
    opacity: .6;
    align-self: center;
    
    transition: all .2s linear;
    
    margin: 0 11px 10%;
    
    &:hover{
        filter: none;
        opacity: 1;
    }
    
    @include logo(1, -270px, 135px, 90px);
    @include logo(2, 0, 270px, 60px);
    @include logo(3, -580px, 230px, 60px);
    @include logo(4, -1500px, 220px, 40px);
    @include logo(5, -1140px, 160px, 60px);
    @include logo(6, -810px, 140px, 60px);
    @include logo(7, -1300px, 200px, 70px);
    @include logo(8, -410px, 170px, 60px);
    @include logo(9, -970px, 170px, 70px);
}

.cards{
    grid-area: cards;
        
    &__container{
        position: relative;
        
        img{
            position: absolute;
            top: -133px;
            left: -20%;
            width: 150%;
        }
    }  
}


.card{
    position: absolute;
    display: inline;
    
    
    &:nth-of-type(1){
        top: -220px;
        left: 0;
        z-index: 4;
    }
    
    &:nth-of-type(2){
        top: 50px;
        left: -230px;
        z-index: 3;
    }
    
    &:nth-of-type(3){
        top: 290px;
        left: 250px;
        z-index: 2;
    }
    
    &:nth-of-type(4){
        top: 300px;
        left: -160px;
        z-index: 1;
    }
}

@media all and(max-width: 1200px){

    .first-block{

        &__container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 
                'mailing'
                'logos';

        }
    }
    
    .mailing{
        &__title{
            text-align: center;
            max-width: 600px;
            margin: 0 auto;
        }
        &__text{
            margin: 0 auto 10%;
        }
    }
    
    .form{
        margin: 0 auto 15%;
        
        &__email{
            margin-bottom: 0 !important;
        }
    }
    
}
    
@media all and (max-width: 642px){
    
    .form{
        
        justify-content: center;
        
        &__email{
            margin-bottom: 25px !important;
            
        }
        
        &__submit{
            margin-right: 20px;
            
            &--footer{
                margin-top: 25px !important;
            }
        }
    }
}

@media all and (max-width: 594px){
    
    .logo{
        
        &:nth-of-type(3){
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media all and (max-width: 1285px){
    
    .form{
        
        &__email{
            margin-bottom: 25px;
            
            &--footer{
                margin-bottom: 0 !important;
            }
        }
    }
}

