.header{
    padding: 4% 0;
    margin: 0 0 10%;
    
    &__container{
        display: flex;
        justify-content: space-between;
    }
    
    &__logo{
        font-family: 'Muli';
        font-size: 30px;
        text-transform: uppercase;
        color: #1E1C24;
        font-weight: 900;
        
        align-self: center;
    }
    
}

@media all and(max-width: 1256px){
    .header__btn{
        color: #000 !important;
        border-color: #000 !important;
        
        &:hover{
            background-color: #fff !important;
        }
        
    }
}